# AWS profile y region
AWS_PROFILE=alvaro-mejia
AWS_REGION=us-east-1

# Nombres de secretos usados por ambas lambdas
PRIVATE_KEY_SECRET_NAME=alvaro-mejia/jwt-jwe/private-key
PUBLIC_KEY_SECRET_NAME=alvaro-mejia/jwt-jwe/public-key

# Expiración del JWT generado por jose-encryptor
JWT_EXPIRATION=1h
